* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 25px;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: #444;
  line-height: 1.9;
  background-color: hsl(218, 23%, 16%);
  text-align: center;
}
.advice--card {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  border-radius: 15px;
  padding: 40px 50px;
  background-color: #313A49;
  color: hsl(193, 38%, 86%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advice--card p {
  margin: 30px 0;
}

.advice {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
}

.btn {
  margin-top: 15px;
  /* border: 1px solid red; */
  border-radius: 100%;
  padding: 25px;
  background-color: hsl(150, 100%, 66%);
  border: none;
  position: absolute;
  top: 89%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.hr {
  display: inline;
  display: flex;
  justify-content: space-;
}
.hr .fa-solid {
  margin: 0 20px;
}
hr {
  transform: rotate(90deg);
}
@media screen and (max-width: 375px) {
    .advice--card{
        width: 90%;
    }
    .advice--card p{
        font-size: 18px;
        line-height: 1.2;
        font-weight: 500;
        margin: 15px 0;
    }
}
